<header class="site-header wrapper" role="banner">
  <a class="logo-wrapper" href="{{ site.baseurl }}">
    {%- include logo.html -%}
  </a>

  <div class="main-content">
    <h1 class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {{ include.title | escape }}
    </h1>

    <h2 class="site-subtitle">
      {% if include.subtitle %}
        <strong>
          {{ include.subtitle }}
        </strong>
      {% else %}
        a blog by <a href="https://rhombus.network">rhombus</a>
      {% endif %}
    </h2>
  </div>
</header>
