.site-footer {
  background: rgb(241,241,241);
  font-size: 16px;
  padding-bottom: 3em;

  a {
    color: #777;
  }

  ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
  }


  p {
    color: #333;
  }

  .svg-icon {
    color: #777;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.site-footer__copyright {
  color: #777;
}
