.wrapper {
  margin-left: 250px;
  margin-right: 60px;
  margin-top: 38px;
  max-width: 870px;

  @include media-query($on-tablet) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @include media-query($on-palm) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.site-header {
  display: flex;
  align-items: flex-start;
  letter-spacing: -0.7px;

  @include media-query($on-palm) {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.main-content {
  @include media-query($on-tablet) {
    margin-left: 0px;
  }
}

.site-title {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: 0;

  @include media-query($on-tablet) {
    font-size: 2em;
    margin-bottom: $spacing-unit/2;
  }
}

.site-subtitle {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 6px;
  color: #555;

  & > a {
    font-weight: 600;
  }
}

.posts-wrapper {
  margin-top: 0;
}

.post-list-heading {
  display: none;
}

.post-list {
  margin-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.post-link {
  display: block;
  transition: all 0.2s ease 0.1s;

  &:hover {
    text-decoration: inherit;
    color: $brand-color;
    opacity: 0.6;
  }
}

/* Home Page */
.post-block {
  border-top: 2px solid $light-grey;
  display: flex;
  clear: both;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $spacing-unit;
  padding-top: 1.425em;
}

.post-block__title {
  color: #111;
  font-size: 29.25px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 10px;
}

.post-block__meta {
  color: #444;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
}

.post-block__date {
  display: none;
}

.post-block__image {
  picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
  }
}

.post-block__header {
  flex-basis: 28%;
}

.post-block__content,
.post-content {
  display: block;
  flex-basis: 32%;
  flex-shrink: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  > p {
    color: #777;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.43;
    letter-spacing: 0.25px;
  }
}

.post-block__content p {
  font-size: 15.75px;
}

.post-block__image {
  flex-basis: 31%;
}

/* Mobile */

@include media-query($on-palm) {
  .post-block__image,
  .post-block__content,
  .post-block__header {
    flex-basis: 100%;
    margin-bottom: $spacing-unit/2;
  }
}

.svg-icon {
  width: 16px;
  height: 18px;
  display: inline-block;
  fill: currentColor;
  padding-right: 5px;
  vertical-align: text-bottom;
}

/* Posts */

.post-header {
  display: flex;
  font-size: 0.875em;
  justify-content: flex-start;
  color: #777;
  margin-bottom: 30px;

  > * {
    margin-right: 20px;
  }
}

.post-header__date {
  display: none;
}

.p-author {
  font-weight: bold;
}

.post.h-entry {
  margin-bottom: $spacing-unit * 4;
}

.post-content {
  font-family: Georgia;
  font-size: 20.75px;
  line-height: 1.58;
  color: #333;
  max-width: 740px;

  @include media-query($on-tablet) {
    font-size: 18px;
  }

  > p:first-child:first-letter {
    color: #ef9688;
    float: left;
    font-family: Helvetica;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  blockquote {
    color: #777;
  }

  > p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    color: #333;
    font-family: Georgia;
    line-height: 1.58;
  }

  h2 {
    font-size: 36px;
    font-family: Gilroy;
    font-weight: 600;
    margin-top: 45px;

    @include media-query($on-palm) {
      font-size: 24px;
    }
  }

  figure {
    margin-left: -30px;
    width: calc(100% + 60px);
    margin-top: $spacing-unit * 2;

    @include media-query($on-tablet) {
      margin-left: -30px;
      width: calc(100% + 60px);
    }

    @include media-query($on-palm) {
      margin-left: -20px;
      width: calc(100% + 40px);
    }
  }
}

.post-tags {
  display: flex;
  margin: 30px 0 0;
  padding: $spacing-unit 0;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;

  > li {
    margin-right: 15px;
    margin-bottom: 15px;
    background: #efefef;
    border-radius: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    font-family: Gilroy;
    font-size: 0.875em;
    line-height: 2;
  }
}
