.logo-wrapper {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 90px;
  padding: 0px;

  svg {
    max-width: 100%;
  }

  @include media-query($on-tablet) {
    position: static;
    margin-right: 30px;
    margin-bottom: 15px;
    flex-shrink: 0;
  }

  @include media-query($on-palm) {
    width: 50px;
    position: static;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 15px;
  }
}
