/** Markdown Modifications **/
.markdown-body {
  a {
    color: darken($brand-color, 5%);
  }

  ul,
  ol {
    padding-left: 0;

    li:before {
      margin-left: -18px;
      position: relative;
      left: -8px;
    }

    li {
      margin-bottom: $spacing-unit/2;
    }
  }

  ol {
    list-style: none;
    counter-reset: oracular-counter;
  }

  ol > li {
    counter-increment: oracular-counter;
  }

  ol > li::before {
    content: counter(oracular-counter) '. ';
    font-size: 1em;
    font-weight: 300;
    font-family: Times New Roman;
  }

  ul > li {
    margin-bottom: 15px;
    list-style-type: none;
  }

  ul > li:before {
    color: $brand-color;
    content: '\2022 ';
    margin-left: -8px;
    left: -12px;
  }

  ol ul {
    margin-top: 15px;
  }

  pre > code {
    font-size: 0.875em;
  }

  figure img {
    width: 100%;
  }

  strong {
    font-size: 0.9em;
  }

  li > p {
    margin-top: 0;
    display: inline;
  }

  blockquote {
    margin: $spacing-unit * 2 0;
    border-left: none;
  }

  h3 {
    font-family: Gilroy;
  }
}
