<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <a class="logo-wrapper" href="{{ site.baseurl }}/">
      {%- include logo.html -%}
    </a>

    <main class="page-content" aria-label="Content">
      {%- assign title = page.title | default: site.title -%}
      {%- assign subtitle = page.subtitle | default: site.subtitle -%}
      {%- include header.html title=title subtitle=subtitle -%}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
