---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="post-list">
      {%- for post in site.posts -%}
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <article class="post-block">
            <div class="post-block__header">
              <h3 class="post-block__title">
                {{ post.title | escape }}
              </h3>
              <div class="post-block__meta">
                <span class="post-block__meta__author">
                  {{ site.data.authors[post.author].name }}
                </span>
                <span class="post-block__date">
                  {{ post.date | date: date_format }}
                </span>
              </div>
            </div>
            {%- if site.show_excerpts -%}
            <div class="post-block__content">
              <p>
                {{ post.excerpt }}
              </p>
            </div>
            {%- endif -%}
            <div class="post-block__image">
              <figure>
                <picture>
                  <img src="{{ post.image | relative_url }}">
                </picture>
              </figure>
            </div>
          </article>
        </a>
      {%- endfor -%}
    </div>

    <p class="rss-subscribe">
      subscribe
      <a type="application/rss+xml" href="{{ "/feed.xml" | relative_url }}">
        via RSS
      </a>
    </p>
  {%- endif -%}

</div>
