---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <!-- <h1 class="post&#45;title p&#45;name" itemprop="name headline">{{ page.title | escape }}</h1> -->
    <p class="post-meta">
      {%- if page.author -%}
      {%- assign author = site.data.authors[page.author] -%}
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img class="p-author-image" itemprop="image" src="{{ author.picture | relative_url }}" />
        <span class="p-author" itemprop="name">{{ author.name }}</span>
      </span>
      {%- endif -%}</p>
      {%- if author.twitter -%}
        <a class="p-author-handle" target="_blank"
          href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>
      {%- endif -%}
      <span>/</span>
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      <span class="post-header__date">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </span>
      <span class="post-header__timeago">
      </span>
    </time>
  </header>

  <div class="post-content e-content markdown-body" itemprop="articleBody">
    {{ content }}
  </div>

  <ul class="post-tags">
    {%- if page.tags.size > 0 -%}
      {%- for tags in page.tags -%}
      <li>
        {{ tags }}
      </li>
      {%- endfor -%}
    {%- endif -%}
  </ul>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<!-- Fill "time ago"  -->
<script>
  var script = document.createElement("script");
  script.addEventListener("load", function(event) {
    console.log("Script finished loading and executing");
  });
  script.src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js";
  script.async = true;
  document.getElementsByTagName("body")[0].appendChild(script);

  script.onload = function () {
    var datetime =
      document.querySelectorAll("time[itemprop='datePublished']")[0].dateTime;

    var string = moment(datetime).fromNow();

    document.querySelectorAll(".post-header__timeago")[0].innerText = string;
  }
</script>

<!-- Twitter -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
